body {
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
}

h4 {
  font-size:19px;
  font-weight:600;
}

/* Header */
header .jumbotron {
  background-image: url(images/projector.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  height: 500px;
}

.jumbotron {

  margin-bottom:0px;
  
}

.heading {
  margin-top: 150px;
  background-color: rgb(234, 226, 183, 0.4);
  font-family: 'Anton', sans-serif;
  color: rgb(0, 48, 73);
}

/* Intro */
.intro {
  background-color: #FCBF49;
  color: white;
}

.starter {
  margin: 10px;
}

.scroll-btn:focus {
  outline: none !important;
  border: none !important;
}

/* Restaurant Generator */
.restaurant {
  background-color: rgb(0, 48, 73);
  color: #EAE2B7;
}

.restaurant-inputs, .movie-inputs {
  margin-top: 50px;
}
.restaurant-header, .movie-header {
  font-size: 48px;
  margin-top: 100px;
}

.btn-row {
  margin-top: 50px;
}
.rest-btn {
  color: #EAE2B7;
  font-size: 36px;
}
.rest-btn:hover {
  background-color: #EAE2B7;
  color: rgb(0, 48, 73);
}

/* Movie Generator */
.movie {
  background-color: #FCBF49;
  color: rgb(0, 48, 73);
  margin-bottom: 0;
}

.movie-btn {
  color: rgb(0, 48, 73);
  font-size: 36px;
}
.movie-btn:hover {
  background-color: rgb(0, 48, 73);
  color: #FCBF49;
}


.restaurant-row { 
  margin-top:20px;
}

.restaurant-card {
  background-color: #FCBF49;
  color: rgb(0, 48, 73);
  
}

.movie-row { 
  margin-top:20px;
}

.movie-card {
  background-color: rgb(0, 48, 73);
  color: #EAE2B7;
  
}

.card-header {
  height:70px;
}

.card-body {
  height:357px;
}

.p-cast {
  font-size:14px;
}

.p-plot {
  font-size:14px;
}



/* Footer */

footer {
  margin-top: 0;
  padding: 2px;
  background-color: #D62828;
  color: #EAE2B7;
}