body {
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
}

h4 {
  font-size:22px;
  font-weight:600;
}



/* Header */
header .jumbotron {
  background-image: url(images/projector.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  height: 500px;
}

.jumbotron {

  margin-bottom:0px;
  
}

.heading {
  margin-top: 150px;
  background-color: rgb(234, 226, 183, 0.4);
  font-family: 'Anton', sans-serif;
  color: rgb(0, 48, 73);
}

/* Intro */
.intro {
  background-color: #FCBF49;
  color: white;
}

.starter {
  margin: 10px;
}

.scroll-btn:focus {
  outline: none !important;
  border: none !important;
}

/* Both Generators */
.restaurant-inputs, .movie-inputs {
  margin-top: 50px;
}
.restaurant-header, .movie-header {
  font-size: 48px;
  margin-top: 100px;
}

.card {
  margin-top: 5px;
}

.card-header {
  height: 70px;
}

.card-body {
  height: 45vh;
}

/* Restaurant Generator */
.restaurant {
  background-color: rgb(0, 48, 73);
  color: #EAE2B7;
}

.btn-row {
  margin-top: 50px;
}

.rest-btn {
  color: #EAE2B7;
  font-size: 36px;
}

.rest-btn:hover {
  background-color: #EAE2B7;
  color: rgb(0, 48, 73);
}

.restaurant-row { 
  margin-top: 20px;
}

.restaurant-card {
  background-color: #FCBF49;
  color: rgb(0, 48, 73);
}

.restaurant-card-body a {
  color:#D62828;
}

.img-thumbnail {
  margin-bottom: 10px;
}

.restaurant-card-body p, 
.restaurant-card-body a {
  margin-top: 0;
  margin-bottom: 0;
}

.rest-hours {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

/* Movie Generator */
.movie {
  background-color: #FCBF49;
  color: rgb(0, 48, 73);
  margin-bottom: 0;
}

.movie-btn {
  color: rgb(0, 48, 73);
  font-size: 36px;
}
.movie-btn:hover {
  background-color: rgb(0, 48, 73);
  color: #FCBF49;
}


.restaurant-row { 
  margin-top:20px;
}

.restaurant-card {
  background-color: #FCBF49;
  color: rgb(0, 48, 73);
  
}

.restaurant-error-box {

  display:none;
  background-color:#FCBF49;
  color:#D62828;
  border: 1px solid #D62828;
  border-radius:5px;
  width:100%;
  margin-top:41px;
  
}

.restaurant-error-text {

  margin-top:15px;
  margin-bottom:15px;
}

.movie-error-box {

  display:none;
  background-color:rgb(0, 48, 73);
  color:#D62828;
  border: 1px solid #D62828;
  border-radius:5px;
  width:100%;
  margin-top:41px;
  
}

.movie-error-text {

  margin-top:15px;
  margin-bottom:15px;
  
}

.movie-row { 
  margin-top:20px;
}

.movie-card {
  background-color: rgb(0, 48, 73);
  color: #EAE2B7;
}

.movie-card-body a {
  color:#FCBF49;
}

.card-header {
  height:70px;
}

.card-body {
  height:357px;
  z-index:2;
 
}

.movie-card-body {
  height:450px;
  opacity:0;
  background-color:rgb(0,48,73);
  transition: opacity 0.25s ease;
}

.movie-card-body:hover{

  opacity:0.9;
}

.movie-poster {
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  transition: opacity 0.25s ease;
}

.movie-poster:hover {

  opacity:0.1;
}



.p-cast {
  font-size:14px;
}

.p-plot {
  font-size:14px;
}

/* Loading */
.loading-dots {
  width: 100%;
  text-align: center;
  z-index: 5;
}

.dot {
  display: inline;
  margin: 5px;
  font-size: 100px;
  color:#FCBF49;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}

.one { animation-delay: 0.2s; }
.two { animation-delay: 0.4s; }
.three { animation-delay: 0.6s; }

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}


/* Footer */

footer {
  margin-top: 0;
  padding: 2px;
  background-color: #D62828;
  color: #EAE2B7;
}